@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
//@import url('http://fonts.cdnfonts.com/css/abyssopelagic');

//todo -- optimize google font import
@font-face {
  font-family: 'abyssopelagicregular';
  src: url('../scss/modules/font/abyssopelagic-webfont.eot');
  src: url('../scss/modules/font/abyssopelagic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../scss/modules/font/abyssopelagic-webfont.woff2') format('woff2'),
  url('../scss/modules/font/abyssopelagic-webfont.woff') format('woff'),
  url('../scss/modules/font/abyssopelagic.otf') format('otf'),
  url('../scss/modules/font/abyssopelagic-webfont.ttf') format('truetype'),
  url('../scss/modules/font/abyssopelagic-webfont.svg#abyssopelagicregular') format('svg');
  font-weight: normal;
  font-style: normal;

}


$ff-cinzel: 'Cinzel Decorative', cursive; //sans-serif
$ff-poppins:  'poppins', sans-serif;
$ff-abyssopelagic:  'abyssopelagicregular';
$ff-inconsolata: 'Inconsolata', 'monospace'; //serif

$fw-n: 400;
$fw-b: 900;
$fw-m: 700;

$mrgn: 1.3rem;

$letter-spacing: .1em;

@mixin getFont($fs: 2em, $ff: abyssopelagic, $ls:$letter-spacing,
                $color: dark-gray, $tt: uppercase, $lh: 1) {

  font-family: $ff;
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;

}

