.about__me {
  position: relative;
  background: white;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  display: grid;
  //grid-row-gap: 1em;
  //grid-template-columns: ;

  grid-template-columns: 3em repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);

  .img-wrapper {
    grid-column: 1 / 9;
    grid-row: 1 / 5;
    align-self: center;
    justify-self: center;
    z-index: 1;
    position: relative;
    margin: 0;
    padding: 0;
    width: calc(21.5em + 12vw);
    //border: thin solid crimson;

    .mobile {
      display: none;
    }
    .desktop{
      //display: none;
    }
    svg {
      //z-index: 1;
      height: auto;

    }

    &::after {
      position: absolute;
      //content: '';
      width: 1.5px;
      height: 3.5em;
      margin-left: 18%;
      background: $accent;

      transform: translateY(-50%);
    }

    .img-overlay {
      position: absolute;
      //background: rgba($white, .0);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  /* ABOUT TITLE */
  .about-title {
    grid-column: 2 / 8;
    grid-row: 4 / 6;
    align-self: start;
    justify-self: center;
    color: $accent;
    margin: 0;
    padding-top: 2em;
    z-index: 2;
    font-family: $ff-poppins;
    letter-spacing: 6.4px;
    font-size: 1.87em;



    span{
      display: block;
      color: black;
      padding-left: 3em;
      margin-top: .2em;
      position: relative;
    }
  }

  /* ABOUT PARAGRAPH */
  .about-paragraph {
    text-align: center;
    align-self: center;
    grid-column: 1 / 9;
    grid-row: 5 / 9;
    padding: 0 1em 0 3em;
    color: $gray;

    p {
      margin: 0 0 1em 0
    }
  }
}

/* ABOUT EFFECT */

div[class^='effect'] {
  position: absolute;
  font-family: $ff-poppins;
}

.effect-A {
  font-size: 17em;
  color: rgba($accent, .2);
  line-height: 70%;
  left: -2%;  //todo media
  bottom: -2%;
}

.effect-about {
  font-size: 24em;
  letter-spacing: 1px;
  line-height: 60%;
  color: rgba($accent, .12);

  top: 0%;
  left: -13%;
}