.about__me{
  padding: 2.5em 1.4em 2em 1.5em;
  position: relative;
  background: white;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns:  [pag]3em [start]minmax(6em, 1fr)
                          [name-start]minmax(6em, 1fr)
                          [img-end]1fr
                          [end];

  .img-wrapper{
    grid-column: start / img-end;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: end;
    z-index: 1;

    position: relative;
    margin: 0;
    padding: 0;
    height: 16em;
    width: 12em;

    &::after{
      position: absolute;
      content: '';
      width: 1.5px;
      height: 3.5em;
      margin-left: 18%;
      background: $accent;

      transform: translateY(-50%);
    }

    .about-img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .img-overlay{
      position: absolute;
      background: rgba($white, .7);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

  }

  /* ABOUT TITLE */

  .about-title{
    grid-column: name-start / end;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: end;

    z-index: 2;
    font-family: $ff-poppins;
    padding: 0 0 1em .7em;
    letter-spacing: 6.4px;
    font-size: 1.87em;

    span{
      color: $accent;
    }
  }

  /* ABOUT PARAGRAPH */
  .about-paragraph{
    grid-column: start / end;
    grid-row: 2 / 3;
    padding-top: 1em;
    color: $gray;

    p{
      margin: 0 0 1em 0
    }
  }
}

/* ABOUT EFFECT */

div[class^='effect']{
  position: absolute;
  font-family: $ff-poppins;
}

.effect-A{
  font-size: 27em;
  color: rgba($light-light-gray, .3);
  line-height: 70%;


  left: -23%;
  bottom: 0;
}

.effect-about{
  font-size: 10em;
  letter-spacing: 8px;
  line-height: 60%;
  color: rgba($light-light-gray, .25);

  top: 0%;
  left: -5%;
}