

:root{
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
}



body{
  font-family: $ff-inconsolata;
  line-height: 1.2;
  font-size: calc(.875rem + 1vw);


  @include mediaQuery(20em){
    font-size: calc(.875rem + .8vw);
  }

  @include mediaQuery(30em){
    font-size: calc(.875rem + .6vw);
  }

  @include mediaQuery(35em){
    font-size: calc(.875rem + .5vw);
  }

  @include mediaQuery(40em){
    font-size: calc(.875rem + .4vw);
  }

  @include mediaQuery(45em){
    font-size: calc(.875rem + .3vw);
  }

  @include mediaQuery(){
    font-size: calc(.875rem + .2vw);
  }


  background: white;
  max-width: 100vw;
  margin: 0;
  padding: 0;

  position: relative;

}

img{
  max-width: 100%;
  display: block;
}

h1{
  //color: $accent;
  //line-height: 1;
  font-size: 3.125em;

  font-family: $ff-abyssopelagic;
}

p{
  line-height: 1.3;
}

h1, h2, h3, h5, h6, p{
  margin-top: 0;
  margin-bottom: .6em;
  font-weight: 400;
}

h3 {
  font-size: 1.4rem;
  line-height: 110%;
}

h2 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2em;
  //font-weight: 900;
  letter-spacing: 3px;
}

h6 {
  font-size: .87em;
  line-height: 100%;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: .8em;
}

a:link {
  color: $light-light-gray;
  font-weight: normal;
  text-decoration: none;
}
a:visited {
  color: $light-gray;

}
a:hover {
  transition:  400ms;
  color: rgba($accent, 1);

  &::after{
    text-decoration: none;
    //border-bottom: none;

  }
}
a:active {
  color: #b81414;
}


