

:root{
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
}

body{
  font-family: $ff-inconsolata;
  line-height: 1.2;
  font-size: calc(.875rem + 1vw);

}

img{
  max-width: 100%;
  display: block;
}

h1{
  //color: $accent;
  //line-height: 1;
  //font-size: 3.125rem;
}

h1, h2, h3, p{
  margin-top: 0;
  margin-bottom: 1em;
}


