section.blog{
  min-height: 100vh;


  display: grid;
  //grid-template-columns: calc(1em + 10vw) 1fr .5fr 2em;
  grid-template-columns: calc(2em + 5vw) 1fr 1fr 1fr calc(1em + 3vw);
  grid-column-gap: 1em;
  justify-content: center;

  @include mediaQuery(58.5em){ //840px
    grid-template-columns: 7em 1fr 1fr 1fr 9em;

  }

}

h1.blog__headline{
  grid-column: 2 / 4;
  align-self: center;
  justify-self: start;
  padding-left: 2em;
  color: black;
  letter-spacing: 10px;
  font-size: 1.875rem;
  display: inline;
  margin: 0;
  //white-space: nowrap;

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 120%;
    background: $accent;
    margin-top: .3em;
  }
}

.featured_blog{
  grid-column: 2 / 4;
  align-self: start;
  justify-self: center;

  display: flex;
  flex-flow: column;
  justify-content: start;
  gap: 20px;


  .blog_img{
    max-width: 80%;
    height: calc(9em + 10vw);
    object-fit: cover;
  }

  .title_desc{
    align-self: flex-end;

    h6{
      letter-spacing: 1px;
    }
  }

  @include maxMediaQuery(43.5em){
    grid-column: 2 / 5;
  }

  @media (max-width: 43.5em), (min-width: 54.5em) {  // 720px, min-54.5, max-43.5
    flex-flow: row;

    .blog_img{
      width: calc(9em + 10vw);
      height: calc(9em + 10vw);
    }

    .title_desc{
      align-self: center;
    }
  }

}

.more_articles{
  grid-column: 2 / 5;
  justify-self: center;
  align-self: start;

  display: flex;
  flex-flow: column;
  gap: 20px;

  .other__blogs{
    p{
      font-size: 1em;
    }
  }

  @include mediaQuery(43.5em){
    grid-column: 4 / 5;
  }
}

.blog__effect{
  display: none;
}