section.blog{
  min-height: 100vh;


  display: grid;
  //grid-template-columns: calc(1em + 10vw) 1fr .5fr 2em;
  grid-template-columns: calc(2em + 5vw) 1fr 1fr 1fr calc(1em + 3vw);
  grid-column-gap: 1em;


  @include mediaQuery(51em){ //840px
    grid-template-columns: 7em 1fr 1fr 1fr 8em;
  }

}

h1.blog__headline{
  grid-column: 2 / 4;
  align-self: center;
  justify-self: start;
  padding-left: 2em;
  color: black;
  letter-spacing: 10px;
  font-size: 1.875rem;
  display: inline;
  margin: 0;
  //white-space: nowrap;

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 120%;
    background: $accent;
    margin-top: .3em;
  }
}

.featured_blog{
  grid-column: 2 / 4;
  justify-self: center;
  display: flex;
  //flex-flow: column;
  gap: 30px;

  .blog_img{
    max-width: calc(9em + 10vw);
    max-height: calc(9em + 10vw);
    object-fit: cover;
  }

  .title_desc{
    margin-top: 4em;
  }
}

.more_articles{
  //border: thin solid crimson;
  grid-column: 4 / 5;
  justify-self: start;
  display: flex;
  flex-flow: column;
  gap: 20px;

  .other__blogs{
    p{
      font-size: 1em;
    }
  }
}

.blog__effect{
  display: none;
}