.pagination__nav {
  position: fixed;
  top: 50%;
  font-family: $ff-abyssopelagic;
  letter-spacing: 2px;
  line-height: 1;
  left: .5em;
  transform: translateY(-54%);
  z-index: 999;
  text-transform: uppercase;
  color: $dark-gray;
  text-align: center;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  & > * {
    margin: 0 0 1.3rem 0;
    font-weight: bold;
  }

  & .page__no {

    margin-bottom: .7rem;
    margin-left: -10px;
  }

  & .page__name{

    font-size: 1.4em;
    align-self: end;
  }
}

.dot {
  padding: .5em;
  background-color: $light-light-gray;
  border-radius: 50%;
  align-self: center;
  margin-left: -15px;
}

.active{
  background: transparent;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: .5em;

  & span{
    display: block;
    padding: .5em;
    border-radius: 50%;
    background: $dark-gray;

  }

  & span.line{
    height: 3.5625em;
    border-radius: initial;
    width: 3px;
    padding: 0;
  }
}




