.pagination__nav {
  position: fixed;
  top: 50%;
  font-family: $ff-abyssopelagic;
  letter-spacing: 2px;
  line-height: 1;
  @include mediaQuery(){

  }
  transform: translateY(-47%);
  z-index: 999;
  text-transform: uppercase;
  color: $white; //todo for service

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;



  & > * {
    margin: 0 0 1.3rem 0;
    font-weight: initial;
  }
}

.dot {
  padding: .5em;
  background-color: $gray;
  border-radius: 50%;
  //margin-left: -15px;
  cursor: pointer;
}

.dot.active {
  background: transparent;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;

  & > * {
    margin: 0 0 1.3rem 0;
  }

  .page__name {
    gap: 10px;
    display: flex;
    flex-flow: column;
    @include mediaQuery(){
      flex-flow: row;
      transform: translateX(calc(50% - .5em));
      gap: 15px;
    }
    align-items: center;

    p {
      font-weight: 700;
      align-self: end;
      letter-spacing: 3px;
      display: inline;
      margin: 0;
    }

    span {
      height: 1em;
      width: 1em;
      border-radius: 50%;
      background: $white;
      display: inline-block;
    }
  }

  & span.line {
    background: $white;
    height: 3.5625em;
    border-radius: initial;
    width: 3px;
    padding: 0;
  }
}

.slider__nav__wrapper {
  transition: transform 50ms;

  transform-origin: right;
  transform: scaleX(0);

  &.show {
    transform: scaleX(1);
    transition: transform 250ms;


    .nav__wrapper {
      transition: transform 450ms cubic-bezier(0.99, -0.05, 0.58, 1);
      transition-delay: 300ms;
      transform: translateX(0);

      & > h1 {
        transition: opacity 650ms cubic-bezier(0.99, -0.05, 0.58, 1);
        transition-delay: 200ms;

        opacity: 1;
      }
    }
  }

  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: $white;
  background: rgba($dark-gray, .7);

  .slider__nav {
    overflow: hidden;
    position: absolute;
    right: 55vw;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .nav__wrapper {
    background: darken(rgba($accent, .8), 7);
    transform: translateX(100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -1%;
    text-align: right;

    display: flex;
    gap: .6em;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    & :nth-of-type(2) {
      position: relative;
      /*&:before{
        content: '';
        position: absolute;
        display: block;
        background: white;
        width: 1px;
        height: 400%;
        left: 30%;
        bottom: 145%;
      }*/
    }

    & > h1 {
      font-size: calc(1em + 1vw);
      opacity: 0;
      padding-right: 1.3em;
      letter-spacing: 4px;
      margin-bottom: .5em;
      transition: 300ms ease-in-out;
      font-weight: 900;
      cursor: pointer;

      &:hover {
        transition: 300ms ease-in-out;
        transform: scale(1.03);

        text-shadow: -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s ease-in-out;
      }

    }

    & :last-child {
      margin-bottom: auto;
      position: relative;

      /*&:after{
        content: '';
        position: absolute;
        display: block;
        background: white;
        width: 1px;
        height: 400%;
        left: 50%;
        top: 135%;
      }*/
    }


    & :first-child {
      opacity: 1;
      padding: .9em;
      position: relative;
      margin: .5em 2em auto .5em;


      &:hover::after {
        transform: rotate(45deg) scale(1.05);
      }

      &:hover::before {
        transform: rotate(-45deg) scale(1.05);
      }

      &:after, &:before {
        content: '';
        position: absolute;
        background: rgba($white, .8);
        width: 3px;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(-45deg);
      }

    }
  }
}




