.portfolio{
  height: 100vh;
  text-align: center;
  color: $light-gray;
  padding: .5em;

  display: grid;
  grid-template-columns: [start]3em [mid]1fr [end]2em [last];
  grid-template-rows: 1fr min-content min-content 1fr min-content;
  grid-auto-rows: auto;


  position: relative;
  overflow: hidden;

  background-image: url("../img/portfolio_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.portfolio__effect{
  display: none;
  position: relative;
  top: 0;
  right: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  font-family: $ff-poppins;
}

.portfolio__title{
  grid-column: start / last;
  align-self: center;
  justify-self: center;
  color: $white;

  margin: 0;
  letter-spacing: 10px;
  font-size: 1.875rem;

  &::after{
    content: '';
    display: block;
    height: 2px;
    width: 116%;
    background: $accent;
    margin-top: .3em;
  }
}

.selected_project_name{
  grid-column: mid / end;
  justify-self: start;
  align-self: start;
  position: relative;
  margin: 0 0 1em 1em;
  color: $light-gray;

  &::before{
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 2px;
    height: 100%;
    background: #FF4200;
  }
}

h3{
  margin: .5em 0;
}

.project__wrapper{
  grid-column: mid/ end;

  padding: 1em;
  display: flex;
  justify-content: center;
}

.featured__project{
  position: relative;
  border: thin solid crimson;
  z-index: 0;
}

.github__star{
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 9999;
  transition: transform 250ms cubic-bezier(.21, 1.1,.82,1.00);
}

.featured__front{
  transition: 250ms;
  text-align: left;
  z-index: 1;

  .front__img{
    width: 14em;
    height: 13.5em;
    object-fit: cover;
    border-radius: 10px;
  }

  .project__detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .detail__images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    img{
      width: 35px;
      height: 35px;
      object-fit: cover;
    }
  }
}

.featured__back{
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1em;
  transform: translateY(35%);

  .short_desc{
    margin: 0;
  }

  .featured_back_images{
    display: flex;
    gap: 10px;

    img{
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
}

.featured__background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(78, 120, 161);
  z-index: -1;
  border-radius: 5px;
  opacity: 0;

  transform: scale(.2, .7);
  transition: 200ms;

}

.featured__project:focus{
  //padding: 1em 0;
  outline: none;

  .github__star{
    transform: translate(160%, -79%);
  }

  .featured__front{
    transform: translateY(-50%) scale(.7);

    .project__name{
      animation: gameName 250ms forwards;
    }
    .project__detail{
      transition: 300ms;
      opacity: 0;
    }
  }

  .featured__back{
    opacity: 1;
    transform: translateY(0);
    transition: transform 250ms,
    opacity 100ms linear;
  }

  .featured__background{
    transition:
            transform 250ms cubic-bezier(.21, 1.1,.82,1.00),
            opactiy 100ms linear;

    opacity: 1;
    transform: scale(1.2, 1.1);
  }

}

.project__pagination{
  grid-column: mid / end;
  align-self: center;

  display: inline-flex;
  gap: 10px;
  margin: 0 auto;
}

.fab{
  grid-column: end / last;
}





@keyframes gameName{
  0%{
    text-align: left;
    opacity: 1;
  }

  20%{
    text-align: left;
    opacity: .5;
  }
  40%{
    text-align: left;
    opacity: 0;
  }60%{
     text-align: center;
     opacity: 0;
   }
  80%{
    text-align: center;
    opacity: .5;
    transform: scale(1);
  }
  100%{
    text-align: center;
    opacity: 1;
    transform: scale(1.8);
  }
}