.portfolio {
  height: 100vh;
  text-align: center;
  color: $light-gray;
  padding: .5em;
  position: relative;
  overflow: hidden !important;
  z-index: 0;

  display: grid;
  grid-template-columns: [start]3em [mid]1fr [end]1em [last];
  grid-template-rows: .7fr auto 2fr min-content min-content;

  background-image: url("../img/portfolio_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio__effect {
  position: absolute;
  top: 0;
  right: -10%;
  line-height: 80%;
  margin: 0;
  padding: 0;
  font-family: $ff-poppins;
  font-size: 26rem;
  z-index: -11;
  color: rgba($light-gray, .1);
}

.portfolio__effect.design {
  top: initial;
  bottom: 0;
  font-size: 10rem;
  color: rgba($accent, .1);
  right: 10%;
}

.portfolio__title {
  grid-column: start / last;
  align-self: center;
  justify-self: center;
  color: $white;

  margin: 0;
  letter-spacing: 10px;
  font-size: 1.875rem;

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 116%;
    background: $accent;
    margin-top: .3em;
  }
}

.selected_project_name {
  grid-column: mid / end;
  justify-self: start;
  align-self: start;
  position: relative;
  margin: 1em 0 1em 1.3em;
  color: $light-gray;

  &::before {
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 2px;
    height: 100%;
    background: #FF4200;
  }
}

h3 {
  margin: .3em 0 0;
}

.project__wrapper {
  grid-column: mid/ end;

  //padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: initial!important;

}

.github__star {
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 9999;
  transition: transform 250ms cubic-bezier(.21, 1.1, .82, 1.00);
}

.featured__front {
  transition: 250ms;
  z-index: 1;
  width: 80%;
  min-height: 70%;

  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [start]1fr [mid]1fr [last]1fr [end];
  grid-template-rows: 4fr 1fr;

  .front__img-1 {
    grid-column: start / end;
    object-fit: cover;

    border-radius: $mrgn;
    transition: border-radius 250ms cubic-bezier(.21, 1.1, .82, 1.00);
  }

  .project__name {
    color: $light-gray;
    text-shadow: 0.1em 0.1em 0.3em #000;
    font-size: 1.7rem;
    position: absolute;
    top: 2%;
    left: 5%;
  }

  .proj-img{
    grid-row: 2 / 3;
    width: 100%;
  }
  .front__img-2{
    grid: start / mid;
  }
  .front__img-3{
    grid: mid / last;
  }
  .front__img-4{
    grid: last / end;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: $mrgn / 2;
  }
}

.featured__back {
  opacity: 0;
  position: absolute;
  bottom: 15%;
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1em;
  transform: translateY(35%) scale(0);

  .btn.pulse{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: $gray;
    border-radius: 100vw;

    &:hover{
      background: rgba($accent, .6);
    }
  }

  .short_desc {
    margin: -.3em 0 0 0;
    text-align: left;
    font-size: .89em;
  }

  .featured_back_images {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: .4em;

    div#materialbox-overlay{
        opacity: .86 !important;
    }

    img {
      margin: 0 auto;

      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $mrgn / 2;
    }
  }
}

.featured__background {
  position: absolute;
  height: 70%;
  width: 80%;
  background: rgba($accent, .3);
  z-index: -1;
  border-radius: $mrgn;
  opacity: 0;
  transform: scale(.2, .7);
  transition: 200ms;

  & *{
    border-top-left-radius: $mrgn;
    border-top-right-radius: $mrgn;
  }

  .img-wrapper{
    min-height: 45%;
    background-image: url('../img/project/karim-manjra-6ybGCLrzy_w-unsplash(1).jpg');
    background-size: cover;

    background-repeat: no-repeat;
    background-blend-mode: color-burn;
  }

  .img-overlay{
    position: absolute;
    min-height: 45%;
    padding: 2em;
    width: 100%;
    background: rgba(black, .6);
  }

}

.featured__project {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  //border: thin solid green;

  &:hover {
    outline: none;

    .github__star { //todo- use js to move this
      transform: translate(160%, -69%);
    }

    .featured__front {
      transform: translateY(-45%) scale(0);

      .front__img-1{
        border-radius: 50%;
        transition: border-radius 250ms
        cubic-bezier(.21, 1.1, .82, 1.00);
      }

      .project__name {
        animation: gameName 250ms forwards;
        //margin-bottom: 0;
      }

      .proj-img {
        transition: 300ms;
        opacity: 0;
        transform: scale(0);
      }
    }

    .featured__back {
      opacity: 1;
      transform: translateY(0) scale(1);
      transition: transform 250ms,
      opacity 100ms linear;
    }

    .featured__background {
      transition: transform 250ms cubic-bezier(.21, 1.1, .82, 1.00),
      opactiy 100ms linear;

      opacity: 1;
      transform: scale(1.2, 1.2);
    }
  }

}

.project__pagination {
  grid-column: mid / end;
  align-self: center;

  display: inline-flex;
  gap: 10px;
  margin: 0 auto;
}

.fab {
  grid-column: end / last;
}



@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }

  20% {
    text-align: left;
    opacity: .5;
  }
  40% {
    text-align: left;
    opacity: 0;
  }
  60% {
    text-align: center;
    opacity: 0;
  }
  80% {
    text-align: center;
    opacity: .5;
    transform: scale(1);
  }
  100% {
    text-align: center;
    opacity: 1;
    transform: scale(1.8);
  }
}