.welcome {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $light-gray;
  height: 100vh;
  margin: 0;

  overflow: hidden;
  position: relative;
  display: grid;
  justify-content: stretch;
  grid-template-columns: 4.5em repeat(7, 1fr);
  grid-template-rows: min-content repeat(7, 1fr);


  @include mediaQuery($width: 43em){

    .welcome-text{
      grid-column: 3 / 8;
      grid-row: 3 / 5;
      align-self: start;
      justify-self: start;

      h1{
        font-size: calc(5.4em + 3vw);
        letter-spacing: 50px;
        margin: 0 0 0;
      }
    }

  }
}

.nav__bar{
  grid-area: nav;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  background: transparent;
  display: flex;
  align-items: center;
  justify-content: start;

  .humberger{
    margin: 0 0 0 auto;
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 3.3rem;

    &::after{
      content: '\2261';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $light-light-gray;
    }
  }
}

.welcome-text {
  grid-area: hero;
  align-self: center;
  justify-self: end;
  //border: thick solid yellow;
  grid-column: 2 / 8;
  grid-row: 4 / 6;

  h1{
    font-size: calc(3em + 3vw);
    font-family: $ff-abyssopelagic;
    letter-spacing: 20px;
    margin: 0 -9px .2em;
    color: $white;

  }

  & p {
    margin: 0;
    letter-spacing: 3px;
    font-family: $ff-abyssopelagic;
    color: $white;
  }

  :first-child + *{
    &::after {
      content: '';
      display: block;
      width: 50%;
      height: 1px;
      background: $accent;
      margin: .5em 0 .3em;
    }
  }

  .read-more{
     letter-spacing: 1px;
    position: relative;

    &::before{
      position: absolute;
      content: '';
      //display: block;
      height: 1px;
      width: 100%;
      top: 100%;
      transform: scaleX(0);
      transform-origin: left;
      background: rgba($accent, .8);
    }

    &:hover::before{
      transform: scaleX(1);
      transition: transform 500ms;
    }
    &:hover::after{
    }

    &::after{
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      content: '\01F517';
      display: inline-block;
      margin: 0 .6em;
      width: 20px;
      height: 20px;
      color: $accent;
      //font-size: 1.5rem;
    }
  }

}

.social-icons {
  grid-area: social;
  grid-row: 2 / -1;
  grid-column: 8 / -1;


  justify-self: center  ;
  //width: 100%;
  align-self: center;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-flow: column;

  > * {
    margin-bottom: 1em;
  }

}

.scroll-down {
  position: absolute;
  bottom: calc(30% + 1vh);
  left: 37%;
  font-family: $ff-abyssopelagic;
  letter-spacing: 4px;
  transform: rotate(90deg);
  transform-origin: left;
  display: flex;
  width: 100%;

  span{
    position: relative;
    display: block;
    width: 1.7em;
    height: 1em;
    border: thin solid $gray;
    border-radius: 150px;
    align-self: flex-end;
    margin-bottom: .1em;

    &:after{
      content: '';
      position: absolute;
      padding: .14em;
      border-radius: 50%;
      background: rgba($accent, .8);
      top: 50%;
      transform: translateY(-53%);
      left: 20%;
      animation: scrollAnim 1s infinite alternate both;
    }
  }

  & p{
    font-size: .9em;
    color: $white;
    display: block;
    //width: 10em;

    &::after{
      content: '';
      display: block;
      width: 200%;
      height: 3px;
      background: $gray;
      margin-top: .5em;
    }

  }
}

.effect {
  position: absolute;
  bottom: 0%;
  left: 1%;
  font-weight: 900;
  font-family: $ff-poppins;
  letter-spacing: 20px;
  font-size: 15rem;
  margin: 0;
  line-height: .7;
  color: rgba($white, .1);
  text-indent: -66%;
  z-index: 1;
}

@keyframes scrollAnim {
  0% {
    left: 20%;
  }

  100% {
    left: 70%;
  }
}



